<div class="bg-wave  bg-light-yellow mt-5 position-relative">
 
    <div class="container">
      <div class="border rounded-1 bg-white d-flex flex-column justify-content-around py-40 py-lg-6 px-4 px-lg-7">
        <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start  text-center mt-lg-6 mb-lg-6">
          <img src="../assets/img/img_title_3.png" alt="img_title_3" class="people-icon-size  me-lg-6 ms-lg-0 mx-auto  mb-3">
          <div class="ms-lg-5">
          <h2 class="display-5 fs-md-h1 fw-bold">說了這麼多，還是無法<span class="display-5 fs-md-h1 text-primary fw-bold">決定</span>吃什麼嗎?</h2>
          <h2 class="display-5 fs-md-h1 fw-bold">沒關係我們幫你<span class="display-5 fs-md-h1 text-primary fw-bold">選擇</span>!</h2>
        </div>
        </div>
        <div class="mb-5">
          <div class=" d-flex flex-column flex-lg-row justify-content-between flex-wrap flex-lg-nowrap">
            <div class="col-12 col-lg-6">
              <div class="border-radius bg-light-yellow rounded-pill d-flex flex-column flex-lg-row px-4 py-4 align-items-center me-lg-5 mb-3">
              <a class="btn btn-primary rounded-4 px-6 py-3 py-lg-4 fs-4  me-lg-4 mb-2 text-white fw-bold " href="#">你們幫我搭！</a>
              <small class="color-text mt-1 fs-sm fw-bold">根據您的需求，<br> 無須動腦就搭出一日健康菜單</small>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class=" border-radius bg-green rounded-pill d-flex flex-column flex-lg-row px-4 py-4 align-items-center ">
                <a class="btn btn-secondary rounded-4 px-6 py-3 py-lg-4 fs-4  me-lg-4 mb-2 text-white fw-bold" href="#">點我來搭配！</a>
                <small class="color-text mt-1 fs-sm fw-bold">提供您常見的日常外食選擇，
                <br>  輕鬆計算出自選飲食的熱量及營養素</small>
              </div>
             </div>
  
          </div>
        </div>
        <div class="d-flex flex-column  bg-light-yellow rounded-1 p-4 justify-content-between align-items-center">
          <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
            
              <div class="card ">
                <div class="position-relative">
                  <span class="badge-meal translate-middle-x">早餐</span>
                <img src="../assets/img/bg_QA_web.png" class="card-img-top h-75  " alt="早餐">
                </div>
                
                <div class="card-body h-25">
                  <h5 class="fw-bold card-title  text-center ">烤雞三明治+無糖豆漿</h5>                
                </div>
              </div>
           
            <div class="py-4">
              <img src="../assets/img/plus-circle.png" alt="" class=" plus-circle">
            </div>
            
            
              <div class="card">
                <div class="position-relative">
                  <span class="badge-meal translate-middle-x">午餐</span>
                <img src="../assets/img/bg_QA_web.png" class="card-img-top h-75  " alt="午餐">
                </div>
                <div class="card-body h-25">
                  <h5 class="fw-bold card-title text-center">烤雞三明治+無糖豆漿</h5>                
                </div>
              </div>
           
            <div class="py-4">
              <img src="../assets/img/plus-circle.png" alt="" class=" plus-circle">
            </div>
            
              <div class="card">
                <div class="position-relative">
                  <span class="badge-meal translate-middle-x">晚餐</span>
                <img src="../assets/img/bg_QA_web.png" class="card-img-top h-75" alt="晚餐">
                </div>
                <div class="card-body  h-25">
                  <h5 class="fw-bold card-title text-center">烤雞三明治+無糖豆漿</h5>                
                </div>
              </div>

          </div>      
          <a href="#" class="btn-third rounded-pill mt-4 ">幫我計算</a>
 
        </div>
      </div>
      
    </div>
    
  </div>