<footer class="d-flex flex-column align-items-center py-4 mt-6">
  <div class="container mx-auto">
    <div class="footer-content d-flex flex-column flex-md-row border-bottom pb-6">
      <div class="footer-logo align-self-center me-md-6 mb-6">
        <a href="#">
          <img src="../assets/img/Horizontal_container.png" class="img-fluid" alt="logo">
        </a>
      </div>
      <div class="footer-intro me-md-6">
        <h5 class="pb-3 border-bottom text-center text-md-left">每日營養導航:您的健康飲食夥伴</h5>
        <p class="mt-4 color-text">您的健康飲食夥伴，我們致力於提供科學的營養和健康資訊,包括個人營養計算、飲食選擇建議等。讓我們陪伴您走向更健康的生活之路，並將這份健康與快樂分享給親友。</p>
      </div>
      <div class="footer-contact">
        <h5 class="pb-3 border-bottom text-center text-md-left">聯絡我們</h5>
        <div
             class="contact-icons mt-4 d-flex flex-row justify-content-md-between justify-content-around align-items-center">
          <a class="d-flex justify-content-center align-items-center" href="#"><img
                 src="../assets/img/ig-icon.svg"></img></a>
          <a class="d-flex justify-content-center align-items-center" href="#"><img
                 src="../assets/img/fb-icon.svg"></img></a>
          <a class="d-flex justify-content-center align-items-center" href="#"><img
                 src="../assets/img/line-icon.svg"></img></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center pt-6">
      <p>Copyright ©2023 每日營養導航 All Rights Reserved.</p>
    </div>
  </div>
</footer>