.bg-index{ 
    background:url(/daily-dietary-navigator/assets/img/img_banner_mobile.png);
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: 100%;
    @media (min-width:992px) {
        background:url(/daily-dietary-navigator/assets/img/img_banner_web.png);
    }
    h1{
        margin-bottom: 269px;
    }
}
//白色波浪
.bg-index::after{
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    background-image:url(/daily-dietary-navigator/assets/img/bg_web_5.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}
.navbar{
    border-radius: 80px;
    background: #FFF;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 192px;
    margin-top: 72px; 
}

//navbar mobile 樣式 
.navbar-mobile {
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgb(107, 90, 90);
    background-image: url(../assets/img/bg_menu.png);
    background-position:center 0% ;
    opacity: 0.9;
    li{
        border-color: #FFFFFF;
        
    }

}
.offcanvas-link {
    font-weight: bold;
    color: #D9D9D9;
    width: 350px;
    padding: 20px;
    &:hover{
        color: #FFF;
        background: transparent;
    }
}
.hamburger-list {
    top:0px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    height: 100vh;
    background-image: url(../assets/img/bg_menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: darken;
   
    
  }

