// *,*::before,*::after{
//     outline:1px solid red;
// }

//google icon
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.answer{
    width: 138px !important;
    height: 138px;
    border-radius: 50% !important;
    @media (min-width:992px) {
        width: 90px !important;
        height: 90px;
    }
    @media (min-width:1400px) {
        width: 138px !important;
        height: 138px;
    }
}
.see-answer-fs{
    font-size: 20px;
    @media(min-width:992px) {
        font-size: 16px;
    }
    @media(min-width:1400px) {
        font-size: 20px;
    }
}

.nutrition-label{
    & tr td:last-child{
        text-align: right;
    }
    & th {
        text-align: center;
    } 
}
.rounded-bottom-3{
    border-bottom-right-radius:60px !important;
    border-bottom-left-radius:60px !important;
}
.rounded-top-3{
    border-top-right-radius:60px !important;
    border-top-left-radius:60px !important;
}
.hover-opacity{
    opacity:0;
    transition:0.25s;
    &:hover{
    opacity:1;

}
}
.cata-text-hover{
    color: #696969;
    transition:0.25s;
    &:hover{
        color: $primary;
    }
}

.swiper {
    width: 100%;
    height: auto;
  }
.bg-test{
    height: 100px;
    background-image: url(../../img/bg_web_1.png);
    background-repeat: no-repeat;
}
.line-width-80{
    width: 80px;
}
.letter-spacing-112{
    letter-spacing: 1.12px;
}
// 首頁結束
// 飲食紅綠燈