.calculator-section {
  
  p {
     color: #000;
     margin-bottom: 8px;
  }
}

// .calculator-top {
//   background-image: url('../../assets/img/tap_measure');
//   background-repeat: no-repeat;
//   background-size: contain;
// }

.divider {
  margin: 32px 0;
  width: 100%;
  border: 4px solid #F8CA0E;
  border-radius: 4px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-paper  {
  background-color: #EBE4D1;
}