.calculator {
  p {
    color: hsl(0, 0%, 41%);
  };
}

.h-lg-614 {
  height: 614px;
}

.h-720 {
  height: 720px;
}

.mt-328 {
  margin-top: 328px;
}

.calculator::after {
  content: "";
  background-image: url('../../assets/img/bg_mobile_4.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  height: 100%;
  width: 100%;
  margin-top: -32px;
  z-index: 2;

  @media (min-width: 768px) {
    margin-top: -72px;
  }

  @media (min-width: 992px) {
    background-image: url('../../assets/img/bg_web_4.png');
    height: 100%;
    width: 100%;
  }

  @media (min-width: 1440px) {
    background-position: top;
    background-size: cover;
    height: 218px;
    margin-top: -128px;
  }
}

.yellow-line {
  border: 6px solid #F8CA0E;
  border-radius: 6px;
  width: 60px;

  @media (min-width:992px) {
    width: 120px;
  }
}

.radius-60 {
  border-radius: 60px;
}

.vector {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 326px;
  height: 351px;

  @media (min-width:992px) {
    width: 498px;
    height: 526px;
    left: 220px;
    top: 109px;
    margin: 0;
    right: auto;
  }
}

.z-3 {
  z-index: 3;
}

.btn-start {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 50%);

  @media (min-width:992px) {
    transform: translate(0%, 50%);
  }
}
