.QA-bg{
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-lg {
    border-radius: 100px !important;
}

.rounded-sm {
    border-radius: 30px !important;
}

section{
    .card{
        border-color: $gray-1000;
    }

    p{
        color: hsl(0, 0%, 41%);
    }
}

.w-30{
    width: 30%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.w-120{
    width: 120px;
}

.vertical-center-50{
    position: relative;
    transform: translateY(-50%);
}

.px-120{
    padding-left: 120px;
    padding-right: 120px;
}

.rounded-top-0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pb-83{
    padding-bottom: 83px;
}

.hidden{
    display: none;
}

.rounded-top-sm{
    border-radius: 30px 30px 0 0 !important;
}

#read-more{
    &.active{
        border: 0;
    }
}

.send-back{
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
}

.send-top{
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
    transform: rotate(180deg);
}