.rounded-lg {
    border-radius: 100px !important;
}

.rounded-sm {
    border-radius: 30px !important;
}

section{
    .card{
        border-color: $gray-1000;
    }
}

.w-30{
    width: 30%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.vertical-center-50{
    position: relative;
    transform: translateY(-50%);
}

.px-120{
    padding-left: 120px;
    padding-right: 120px;
}

.rounded-top-0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pb-83{
    padding-bottom: 83px;
}


.send-back{
    position: relative;
    z-index: 2;
    // transform: translateY(100%);
}