<!-- 六大類食物 開始 -->
<div class="container">
    <div><img src="" alt="curious-girl-face"></div>
    <h1 class="text-center">六大類食物，你吃對了嗎?</h1>
    <h4 class="text-center">豆魚蛋肉類</h4>
    <p class="p-2">為富含蛋白質的食物，主要提供飲食中蛋白質的來源。包含:黃豆與豆製品、魚類與海鮮、蛋類、禽類、畜肉等。</p>
    <p class="p-2">為避免同時吃入不利健康的脂肪，尤其是飽和脂肪，選擇這類食物時,其優先順序為豆類、魚類與海鮮、蛋類、禽肉、畜肉。</p>
    <p class="p-1">此外，應避免油炸和過度加工的食品，才不會攝取過多的油脂和鈉。</p>
    <div class="6-dietary px-4 py-12 row flex-wrap">
      <div class="mb-4">
        <img src="" alt="">
        <h5 class="mt-3">豆魚蛋肉類</h5>
      </div>
      <div class="mb-4">
        <img src="" alt="">
        <h5 class="mt-3">蔬菜類</h5>
      </div>
      <div class="mb-4">
        <img src="" alt="">
        <h5 class="mt-3">全榖雜糧類</h5>
      </div>
      <div class="mb-4">
        <img src="" alt="">
        <h5 class="mt-3">水果類</h5>
      </div>
      <div>
        <img src="" alt="">
        <h5 class="mt-3">堅果種子類</h5>
      </div>
      <div>
        <img src="" alt="">
        <h5 class="mt-3">乳品類</h5>
      </div>
    </div>
  </div>
<!-- 六大類食物 結束 -->
<!-- 看看哪個更健康 -->
<div class="bg-primary-300">
  <div class="bg-light-yellow">
    <div class=""><img src="" alt="thinking-girl-face"></div>
    <h4 class="text-center">看看哪個更健康?</h4>
    <div class="">
      <img src="" alt="滷雞腿">
      <h5>滷雞腿</h5>
    </div>
    <div class="">
      <img src="" alt="滷雞腿">
      <h5>炸雞腿</h5>
    </div>
    <a class="answer d-block btn" href="" data-toggle="modal" data-target="#nutri-detail"><h5>看答案</h5><i>v</i></a>
    <button class="btn btn-outline rounded" href="6-catagories.html">點我看更多</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="nutri-detail" aria-labelledby="exampleModalLongTitle">
  swiper?
  <div class="mb-24">
    <img src="" alt="滷雞腿">
    <h5 >滷雞腿</h5>
  </div>
  <div class="signal mb-24">
    <h5>燈號</h5>
    <img src="" alt="">
  </div>
  <div class="feature mb-24">
    <h5>燈號</h5>
    <span class="tag green-light">原始食物</span><span class="tag red-light">優質蛋白質</span>
  </div>
  <div class="nutrition-label">
    <h5>營養標示</h5>
    <tbody>
      <tr>
        <th scope="row">熱量(Kcal)</th>
        <td>186kcal</td>
      </tr>
      <tr>
        <th scope="row">碳水化合物</th>
        <td>0g</td>
      </tr>
      <tr>
        <th scope="row">脂肪</th>
        <td>11.8g</td>
      </tr>
      <tr>
        <th scope="row">飽和脂肪</th>
        <td>2.9g</td>
      </tr>
      <tr>
        <th scope="row">蛋白質</th>
        <td>22.7g</td>
      </tr>
  </div>
<!-- modal -->


</div>