<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <title>餐點搭配</title>
</head>
<body>
  <%- include('./layout/header'); -%>
<div class="container">
    <div class="d-flex flex-column ">
      <h1 class="fs-1 mb-5 fw-bold text-center">您可以選擇...</h1>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-around mb-5">
          <div class="d-flex ">
              <!--用摺疊選單-->
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item ">
              <a href="#mealChoose" class="btn btn-primary-400 rounded-4 px-6 py-3 fs-4 mb-2 text-white fw-bold" data-bs-toggle="collapse" >
                自選搭配
              </a>
             
              </div>

            </div>
          </div>       
          <div class=" d-flex">
              <div class="dropdown ">
                  <a class="btn btn-primary-400 rounded-4 px-6 py-3  fs-4   mb-2 text-white fw-bold  dropdown-toggle" href="#randomlyMatch" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    隨機搭配
                  </a>
                
                  <ul class="dropdown-menu" id="randomlyMatch" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="allday-takeout.html">全日外食</a></li>
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="#">全日備餐</a></li>
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="#">外食+備餐</a></li>
                  </ul>
                </div>
          </div>
          <div class=" d-flex ">
              <div class="dropdown">
                  <a class="btn btn-primary-400 rounded-4 px-6 py-3  fs-4   mb-2 text-white fw-bold  dropdown-toggle" href="#randomlyMatch" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    精選搭配
                  </a>
                
                  <ul class="dropdown-menu" id="randomlyMatch" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="allday-takeout.html">1500cal</a></li>
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="#">1700cal</a></li>
                    <li><a class="dropdown-item py-2 fs-5 text-center" href="#">1900cal</a></li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="row">
        <div class="collapse accordion-collapse" id="mealChoose" >
          <div class="card text-center card-flush"  id="menuList">
            <div class="card-header bg-secondary  ">
              <ul class="nav nav-pills d-flex flex-column flex-md-row card-header-tabs justify-content-around text-white fw-bold">
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white click-tab" data-bs-toggle="collapse" aria-current="true" href="#convenienceStore">超商菜單</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white click-tab" data-bs-toggle="collapse" aria-current="true" href="#takeOutMenu">外食菜單</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white click-tab" data-bs-toggle="collapse" aria-current="true" href="#homeMadeMenu" tabindex="-1" aria-disabled="true">備餐菜單</a>
                </li>
              </ul>
            </div>
            
            <div class="collapse show" id="convenienceStore" data-bs-parent="#menuList">
              <div class="card-body convenienceStore" >
                <div class="row mb-4 align-items-stretch">
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check " id="btn-check" autocomplete="off">
                    <label class=" w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check">
                      <div class="card" >
                        <img src="../assets/meal-img/convenienceStore-1.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="431" id="convenienceStore-1">711紐奧良鮮蔬烤雞三明治<br>+無糖5.1豆漿</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check " id="btn-check2" autocomplete="off">
                    <label class=" w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check2">
                      <div class="card d-flex flex-column justify-content-between">
                        <img src="../assets/meal-img/convenienceStore-2.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="408" id="convenienceStore-2">711香草烤雞腿時蔬餐<br>+茶葉蛋*1</div>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check3" autocomplete="off">
                    <label class="w-100   btn btn-outline-primary p-3 card-check rounded-1" for="btn-check3">
                      <div class="card">
                        <img src="../assets/meal-img/convenienceStore-3.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="convenienceStore-3">711黑胡椒烤雞握便當<br>+茶葉蛋*2</div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="row mb-4 align-items-stretch">
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check4" autocomplete="off">
                    <label class="w-100  btn btn-outline-primary p-3 card-check rounded-1" for="btn-check4">
                      <div class="card food-card" >
                        <img src="../assets/meal-img/convenienceStore-4.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="513" id="convenienceStore-4">雞肉飯飯糰+茶葉蛋<br>
                          +無糖高纖豆漿</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check5" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check5">
                      <div class="card food-card">
                        <img src="../assets/meal-img/convenienceStore-5.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="408" id="convenienceStore-5">全家烤蛋白餐盒</div>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check6" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check6">
                      <div class="card food-card">
                        <img src="../assets/meal-img/convenienceStore-6.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="convenienceStore-6">全家 羅勒海鮮冷義大利麵<br>+雞胸肉</div>
                      </div>
                    </label>
                  </div>
                </div>
                <!--轉換頁面按鈕-->
                <div class="row mt-5">
                  <div class="d-flex flex-column flex-md-row justify-content-around">
                    <a href="#" class="w-md-25 btn btn-secondary rounded-4 px-6 py-3 fs-4 me-lg-4 mb-2 text-white fw-bold ">重新搭配</a>
                    <a href="meal-kcal.html" class="w-md-25 btn btn-primary-400 rounded-4 px-6 py-3  fs-4  me-lg-4 mb-2 text-white fw-bold " onclick="decide()">決定好了!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="takeOutMenu" data-bs-parent="#menuList">
              <div class="card-body">
                <div class="row mb-4 align-items-stretch">
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut1" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut1">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-1.jpg" alt="Starbucks烤雞生吐司三明治" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-1">Starbucks烤雞生吐司三明治</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut2" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut2">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-2.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu">Subway鮮嫩雞柳</div>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut3" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut3">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-3.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-3">Subway厚切嫩牛</div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="row mb-4 align-items-stretch">
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut4" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut4">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-4.jpg" alt="Louisa麥香燻雞三明治" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-4">Louisa麥香燻雞三明治<br>+中熱紅茶拿鐵</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut5" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut5">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-5.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-5">Louisa蔬菜歐姆蛋<br>+中冰拿鐵</div>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut6" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut6">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-6.jpg" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-6">Louisa鮪魚玉米磚壓<br>+生椰美式</div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="row mb-4 align-items-stretch">
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut7" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut7">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-7.jpg" alt="嫩煎雞腿堡" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-7">嫩煎雞腿堡<br>+小杯玉米濃湯</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut8" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut8">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-8.png" alt="韓式辣味鍋貼" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-8">韓式辣味鍋貼*6<br>+無糖豆漿+燙青菜</div>
                      </div>
                    </label>
                  </div>
                  <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <input type="checkbox" class="btn-check" id="btn-check-takeOut9" autocomplete="off">
                    <label class="w-100 btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-takeOut9">
                      <div class="card">
                        <img src="../assets/meal-img/takeOutMenu-9.png" alt="咖哩雞肉水餃" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3"><input type="checkbox" class="btn-check" value="496" id="takeOutMenu-9">咖哩雞肉水餃*8<br>+燙青菜+皮蛋豆腐</div>
                      </div>
                    </label>
                  </div>
                </div>
                 <!--轉換頁面按鈕-->
                 <div class="row mt-5">
                  <div class="d-flex flex-column flex-md-row justify-content-around">
                    <a href="#" class="w-md-25 btn btn-secondary rounded-4 px-6 py-3 fs-4 me-lg-4 mb-2 text-white fw-bold ">重新搭配</a>
                    <a href="meal-kcal.html" class="w-md-25 btn btn-primary-400 rounded-4 px-6 py-3  fs-4  me-lg-4 mb-2 text-white fw-bold ">決定好了!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="homeMadeMenu" data-bs-parent="#menuList">
              <div class="card-body" >
                <div class="row">
                  <div class="col">
                    <input type="checkbox" class="btn-check" id="btn-check-homeMade1" autocomplete="off">
                    <label class="btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-homeMade1">
                      <div class="card">
                        <img src="../assets/img/Switch-1.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3">三明治</div>
                      </div>
                    </label>
                    
                  </div>
                  <div class="col">
                    <input type="checkbox" class="btn-check" id="btn-check-homeMade2" autocomplete="off">
                    <label class="btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-homeMade2">
                      <div class="card">
                        <img src="../assets/img/Switch-1.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3">烤雞三明治</div>
                      </div>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox" class="btn-check" id="btn-check-homeMade3" autocomplete="off">
                    <label class="btn btn-outline-primary p-3 card-check rounded-1" for="btn-check-homeMade3">
                      <div class="card">
                        <img src="../assets/img/Switch-1.png" alt="" class="card-img-top">
                        <div class="card-footer fs-4 fw-bold py-3">烤雞三明治</div>
                      </div>
                    </label>
                  </div>
                </div>
                 <!--轉換頁面按鈕-->
                 <div class="row mt-5">
                  <div class="d-flex flex-column flex-md-row justify-content-around">
                    <a href="#" class="w-md-25 btn btn-secondary rounded-4 px-6 py-3 fs-4 me-lg-4 mb-2 text-white fw-bold ">重新搭配</a>
                    <a href="meal-kcal.html" class="w-md-25 btn btn-primary-400 rounded-4 px-6 py-3  fs-4  me-lg-4 mb-2 text-white fw-bold" onclick="decide()">決定好了!</a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      

    </div>
</div>



<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>


